<h1>Sign Up</h1>

<%= form_with model: @user, data: { turbo: false}, url: register_path do |form| %>

    <%= render "shared/form_errors", form: form%>

    <div class="mb-3">
        <%= form.label :email%> 
        <%= form.text_field :email, class: "form-control", placeholder: "riki@riki.rocks" %>
    </div>
    <div class="mb-3">
        <%= form.label :password%> 
        <%= form.password_field :password, class: "form-control", placeholder: "verysecretpassword"%>
    </div>
    <div class="mb-3">
        <%= form.label :password_confirmation, "Confirm your password"%> 
        <%=form.password_field :password_confirmation, class: "form-control", placeholder: "verysecretpassword" %>
    </div>

    <div class="mb-3">
        <%= form.submit "Sign Up", class: "btn btn-primary"%>
    </div>


<% end %>
